HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
smile/build
.gradle/
.gradle/6.1.1/**

### VS Code ###
.vscode/

.mvn/
mvnw
mvnw.cmd
statistics-xueguan-task.iml
/LOG_PATH_IS_UNDEFINED/
*.log
/.idea/basketry.iml
mvnw.cmd
smile.iml
